/*기초작업*/

body {
  height: 100vh;
  margin: 0;
}

.wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.frame {
  width: 400px;
  height: 400px;

  background: #242b3d;

  display: flex;
  justify-content: center;
  align-items: center;
  
  text-align: center;
  text-shadow: rgb(212, 212, 212) 1px 0 6px;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.center {
  width: 200px;
  height: 200px;
  background-color: rgb(111, 111, 111);
  border-radius: 50%;
  box-shadow: rgba(86, 89, 91, 0.2) 0px 8px 24px;
  overflow: hidden;
}

/**/
.sky {
  width: 200px;
  height: 200px;
  background-color: skyblue;
  position:relative;
}

.shadow {
  width: 0;
  height: 0;
  position:absolute;
  z-index: 2; /*가장앞으로*/

  top: 120px;
  left: 55px;

  rotate: -180deg;

  border-bottom: 40px solid rgba(149, 157, 165, 0.4);
  border-top: 40px solid transparent;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;

  animation: moving-shadow 4s ease-out infinite;
}

.land {
  width: 200px;
  height: 80px;
  background-color: rgb(255, 203, 139);

  position: absolute;
  top: 120px;
}


.sun {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(255, 186, 24);

  left: -15px;
  top: 120px;

  position: absolute;

  animation: sunset 4s cubic-bezier(0.45, 0, 0.55, 1) infinite;
}

.pyramid-1 {
  width: 0;
  height: 0;

  position: absolute;

  top: 40px;
  left: 55px;

  border-bottom: 40px solid rgb(225, 225, 225);
  border-top: 40px solid transparent;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;

}

.pyramid-2 {
  width: 0;
  height: 0;

  position: absolute;
  top: 40px;
  left: 55px;


  border-bottom: 40px solid white;
  border-top: 40px solid transparent;
  border-right: 5px solid transparent;
  border-left: 40px solid transparent;

}

@keyframes sunset {
  0%{
    left: -15px;
    top: 120px;
  }
  25%{
    top: 45px;
    left: 25px;
  }
  50%{
    top: 25px;
    left: 70px;
  }
  75%{
    top: 45px;
    left: 130px;
  }
  100%{
    top:120px;
    left: 185px;
  }
}

@keyframes moving-shadow {
  0%{
    border-left: 5px solid transparent;
  }
  25%{
    left: 75px;
    border-left: 20px solid transparent;
  }
  50%{
    border-right: 40px solid transparent;
  }
  75%{
    border-right: 20px solid transparent;
  }
  100%{
    border-right: 5px solid transparent;
  }
}